In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [4]:
df['name']=['batman','superman','loki','thor','captain']
df['universe']=['dc','dc','marvel','marvel','marvel']
df['powers']=[2,5,3,4,3]

In [5]:
df

       name universe  powers
0    batman       dc       2
1  superman       dc       5
2      loki   marvel       3
3      thor   marvel       4
4   captain   marvel       3

In [12]:
df['rank_level']=df.powers.rank()
df

       name universe  powers  rank_level
0    batman       dc       2         1.0
1  superman       dc       5         5.0
2      loki   marvel       3         2.5
3      thor   marvel       4         4.0
4   captain   marvel       3         2.5

In [16]:
df['rank_level']=df.powers.rank(ascending=False,method='first')
df

       name universe  powers  rank_level
0    batman       dc       2         5.0
1  superman       dc       5         1.0
2      loki   marvel       3         3.0
3      thor   marvel       4         2.0
4   captain   marvel       3         4.0

In [9]:
df.iloc[:,[0,2]].query("name in ['batman']")

     name  powers
0  batman       2